*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    font-size: 62.5%;
  }
  .container{
    width: 100%;
    height: 100vh;
    background-color: #C4C4C4;
    font-family: 'Share Tech', sans-serif;
    min-width: 1200px;
    position: relative;
  }
  .logo{
    font-weight: 600;
    font-size: 3.8rem;
  }
  nav{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

  }
  ul li{
    display: inline-block;
    list-style: none;
    padding: 6px 20px;
    font-weight: 500;
    font-size: 1.7rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  nav ul li a{
    text-decoration: none;
    color: black;
  }
  ul li:hover{
    background-color: #ff4321;
    border-radius: 25px;
    text-decoration: none;
  }
  header{
   position: absolute;
   bottom: 30%;
   padding: 0 50px;
  }
  header h1{
    font-size: 7rem;
  }
  header h2{
    font-size: 4rem;
  }
  header p{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  header a{
    padding: 0 5px;
    width: 400px;
    height: 200px;
    border: 0;
    outline: none;
    color: #fff;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: #ff4321;
    border-radius: 25px;
    text-decoration: none;
  }

  button:hover img{
    display: block;
  }
  header a:hover{
    justify-content: space-between;
    width: 160px;
  }
  
  .container .emp{
    position: absolute;
    height: 600px;
    width: 550px;
    right: 7%;
    bottom: 0;
    z-index: 999;
  }
  .container .fondo-emp{
    position: absolute;
    height: 550px;
    width: 550px;
    right: 4%;
    bottom: 0;
  } 
